In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\knaimallah\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\knaimallah\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector as connector

In [7]:
connection = connector.connect(host= '127.0.0.1', user = "Karimcoursera", password = "Password123!", db = "LittleLemonDB")

In [8]:
cursor=connection.cursor()

In [14]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [15]:
results = cursor.fetchall()

In [17]:
for table in tables:
    print(table[0])

bookings
contactdetails
customers
menucontent
menuitems
menus
orderdeliverystatus
orders
ordersview
roles
staff

In [39]:
customer_join_query = '''
        SELECT
            c.Name AS FullName,
            cd.Email AS Email,
            cd.PhoneNumber AS PhoneNumber,
            cd.Address AS Address,
            cd.Country AS Country,
            cd.City AS City,
            o.TotalCost AS Cost
        FROM Customers c
        JOIN ContactDetails cd
            on cd.CutsomerID = c.CustomerID
        JOIN orders o
            on o.CustomerID = c.CustomerID
        WHERE o.TotalCost > '60'
        ORDER BY o.TotalCost DESC;
'''

In [40]:
cursor.execute(customer_join_query)

In [41]:
results = cursor.fetchall()

In [42]:
print(f'You have {len(results)} customers that spent more than $60')
print('Printing these customers...')

for result in results:
    print(f'Full Name: \t {result[0]}')
    print(f'Email: \t\t {result[1]}')
    print(f'Phone Number: \t {result[2]}')
    print(f'Address: \t {result[3]}')
    print(f'Country: \t {result[4]}')
    print(f'City: \t\t {result[5]}')
    print(f'Spent: \t {float(result[6])}')

You have 0 customers that spent more than $60
Printing these customers...